version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: sunday
      time: "10:00" # UTC
    groups:
      dependencies:
        patterns:
          - "*"
    open-pull-requests-limit: 2

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: sunday
      time: "10:00" # UTC
    ignore:
      - dependency-name: eslint
    groups:
      dependencies:
        patterns:
          - "*"
    open-pull-requests-limit: 2
