name: Annotate fork-PRs with Trunk Check issues
on:
  workflow_run:
    workflows: [Pull Request]
    types: [completed]

permissions: read-all

jobs:
  trunk_check:
    name: Trunk Check Annotate
    runs-on: ubuntu-latest
    permissions:
      checks: write

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Trunk Check
        uses: trunk-io/trunk-action@75699af9e26881e564e9d832ef7dc3af25ec031b # v1.2.4
        with:
          post-annotations: true
        # This job may fail when the PR was not run on a fork, and that's okay
        continue-on-error: true
