name: Upgrade Trunk Weekly
on:
  schedule:
    # Weekly W morning
    - cron: 0 10 * * 3
  workflow_dispatch: {}

permissions: read-all

jobs:
  trunk_upgrade:
    name: Upgrade Trunk
    runs-on: ubuntu-latest
    permissions:
      contents: write # For trunk to create PRs
      pull-requests: write # For trunk to create PRs
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Create App Token for TrunkBuild App (Internal)
        uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.TRUNK_OPEN_PR_APP_ID }}
          private_key: ${{ secrets.TRUNK_OPEN_PR_APP_PRIVATE_KEY }}

      - name: Trunk Upgrade
        uses: trunk-io/trunk-action/upgrade@75699af9e26881e564e9d832ef7dc3af25ec031b
        with:
          arguments: -n --bleeding-edge
          github-token: ${{ steps.generate-token.outputs.token }}
          reviewers: TylerJang27
